<div class="container">
  <div class="nav-bar">
    <div class="user-info">
      <img class="profile-picture" height="100px" width="100px" src="assets/images/ProfilePicture.png">
      <h4 class="user-name">Abhishek Sethi</h4>
      <h5 class="user-email">abhisethi.53@gmail.com</h5>
    </div>
    <div class="nav-bar-content">
      <table>
        <tr class="disabled">
          Dashboard
        </tr>
        <tr class="enabled">
          Site Details
        </tr>
        <tr class="disabled">
          Migration
        </tr>
        <tr class="disabled">
          Backups
        </tr>
        <tr class="disabled">
          Collaborations
        </tr>
        <tr class="disabled">
          Support
        </tr>
      </table>
    </div>
  </div>
  <div class="display">
    <app-home></app-home>
  </div>
</div>
<!-- <div style="clear: both;"></div> -->
<app-add-new-site></app-add-new-site>
<app-message></app-message>